.row
  .columns.small-12
    .row
      .columns.small-2
        Logo
      .columns.small-8
        Welcome to logo
      .columns.small-2
        Login
.row
  .columns.small-4
    %ul
      %li Навигация
      %li Навигация
      %li Навигация
      %li Навигация
      %li Навигация

.row
  .columns.small-12
    .row
      .columns.small-3
        small small small small small small small small small small small small small small small small small small small small
      .columns.small-4
        small small small small small small small small small small small small small small small small small small small small
      .columns.small-5
        small small small small small small small small small small small small small small small small small small small small

.row
  .columns.small-12.medium-12
    .row
      .columns.small-4.medium-3
        medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium
      .columns.small-4.medium-4
        medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium
      .columns.small-4.medium-5
        medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium medium

.row
  .columns.small-12.medium-12
    .row
      .columns.small-4.medium-3.large-4
        large large large large large large large large large large large large large large large large large large large large
      .columns.small-4.medium-4.large-4
        large large large large large large large large large large large large large large large large large large large large
      .columns.small-4.medium-5.large-4
        large large large large large large large large large large large large large large large large large large large large

.row
  .columns.small-8.small-centered
    .row
      .columns.small-6
        centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered
      .columns.small-6
        centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered centered

.row
  .columns.small-8.small-push-4
    left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right left on right
  .columns.small-4.small-pull-8
    right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left right on left